.Button {
    padding: 5px 10px;
    margin-left: 5px;
    margin-bottom: 15px;
    box-shadow: 20px 20px 25px grey;
    border: none;
    border-radius: 7px;
    font-weight: 700;
    cursor: pointer;
}
